<h1>X_Twitter_Feed_Libre</h1>

<p><a href="https://gitlab.com/libre-tech/X_Twitter_Feed_Libre.git/">Gitlab Repository</a></p>

<p><a href="https://libre-tech.gitlab.io/X_Twitter_Feed_Libre/index.json">Public JSON Data of Twitter Feed</a></p>

<p>Want to add Tweets to this list for your BRC20?</p>

<p>Fork this repo and submit a PR with an array of Tweet(X) IDs added to append to the index.json here in this repo.</p>

<p>Example:</p>

<p>Here is a tweet - let's say I want to make this show for the token "BRC1":<br>
  <a
    href="https://twitter.com/bensig/status/1687146117396406284">https://twitter.com/bensig/status/1687146117396406284</a>
</p>

<p>This can be done by typing:</p>

<p><code>python add_tweet BRC1 https://twitter.com/bensig/status/1687146117396406284</code></p>

<p>or</p>

<p><code>python add_tweet BRC1 1687146117396406284</code></p>

<p>Here is the data that will be added to the bottom of index.json:</p>

<pre><code>{
  "BRC1": [
    "1687146117396406284"
  ]
}
</code></pre>

<p>We will review and merge these PRs. Thanks!</p>